html,
body,
#intro {
    height: 100%;
    margin:0;
}
#intro {
    background-image: url("../images/white-waves.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}